/////////////// Standards //////////////////

$black: #000;
$white: #fff;

///////////// Color Palette ////////////////

$color-p: #ce0037; 
$color-s: #7c878e; 

///////////// Font ////////////////

$font-normal: 'AzoSans-Light';
